:root {
  background-color: #f3e6d8;
  ;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.recipe{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width:60%;
  border-radius: 20px;
  padding: 50px;
}