:root {
  background-color: #f3e6d8;
  color: #302d2c
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
}

.recipe{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 60%;
  border-radius: 20px;
  padding: 20px 50px;
  margin: auto;
  /* Add this line to center the recipe container*/
}

.recipe img {
  border-radius:10px;
  align-self: center;
  object-fit: cover;
  width: 100%;
}

.prepTime {
  background-color: #fff5fa;
  padding: 10px 20px;
  border-radius: 20px;
}

.prepTime h3 {
  color: 	#7b284f
}

.prepTime b,li {
  color: #5f574e;
}

.ingredients h2 {
  color:#854632 ;
}
li {
  color: #854632;
}

.text {
  color:#302d2c
}

.instructions h2 {
  color: #854632;
}

.nutrition h2 {
  color: #854632
}
.nutrientsContainer {
  display: flex;
  flex-direction: column; 
}
.nutrients {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  border-bottom: 1px solid black;
}

.nutrients p {
  width:50%
}
.nutrients b {
  color:#854632 ;
}

@media (max-width: 375px) {
  :root {
    background-color: white;
  }
  .recipe {
    display: flex;
    margin: 0px;
    width: fit-content;
    border-radius: 0px;
    padding: 10px;
  }
  .recipe img {
    width: 100%;
    object-fit:cover;
  }
}

/* .contactForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 20px;
}

.contactForm form, .getInTouch {
  padding: 0px 40px
}

.contactForm input {
  width: 100%
}

.contactForm textarea {
  width: auto;
  height: 30vh;
} */

.contactForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items vertically */
}
.contactForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
.getInTouch {
  /* padding: 0px 30px; */
}
.contactForm form {
  margin-top: 20px;
  padding: 0px 30px;
}

.contactForm label {
  margin-bottom: 8px;
}

.contactForm input[type="text"],
.contactForm textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.contactForm button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
